<!DOCTYPE html>
<html>
  <head>
    <title>The Fun Park</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  <body>
    <h3>Fill out the form in full to see your personalized arcade story!</h3>
    <form action="/arcade-story" method="post">
    <label for="pluralNoun1">4 Plural Nouns:</label>
    <input id="pluralNoun1" name="pluralNoun1" type="text">
    <input id="pluralNoun2" name="pluralNoun2" type="text">
    <input id="pluralNoun3" name="pluralNoun3" type="text">
    <input id="pluralNoun4" name="pluralNoun4" type="text">
    <br>
    <label for="noun1">2 Nouns:</label>
    <input id="noun1" name="noun1" type="text">
    <input id="noun2" name="noun2" type="text">
    <br>
    <label for="ingVerb">1 Verb ending in -ing:</label>
    <input id="ingVerb" name="ingVerb" type="text">
    <br>
    <label for="verb">1 Regular Verb:</label>
    <input id="verb" name="verb" type="text">
    <br>
    <button type="submit">Go!</button>
    </form>
  </body>
</html>